<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardReplyMapper">
	
	<!-- 댓글 등록 -->
	<insert id="addReply" parameterType="com.kim.ilhwaportfolio.dto.Board_reply">
		 <selectKey keyProperty="replynum" resultType="int">
			SELECT replynum_pk.CURRVAL AS boardreply FROM DUAL
		</selectKey>
	INSERT INTO boardreply VALUES(replynum_pk.NEXTVAL,#{reply_boardnum},#{parent},#{seq},#{depth},#{reply},#{reply_writer},#{reply_writer_nickname},#{reply_password},SYSDATE,#{del})
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="getReplyList" parameterType="int" resultType="com.kim.ilhwaportfolio.dto.Board_reply">
		SELECT * FROM boardreply WHERE reply_boardnum = ${value} ORDER BY replynum ASC
	</select>
	
	<!-- 비회원 댓글 비밀번호 확인 -->
	<select id="replyPwCheck" resultType="com.kim.ilhwaportfolio.dto.Board_reply" >
		SELECT * FROM boardreply WHERE replynum = #{replynum} AND reply_password =#{reply_password}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate" >
		UPDATE boardreply SET reply = #{reply}, regdate = sysdate  WHERE replynum = #{replynum}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="replyDelete" >
    	DELETE FROM boardreply WHERE replynum = #{replynum} OR parent = #{replynum}
	</delete>
	
	<!-- 부모 댓글 삭제 시 del 컬럼 값 변경-->
	<update id="parentReplyDelete" parameterType="int">
		UPDATE boardreply SET del = 'y' WHERE replynum = #{replynum}
	</update>
	
	<!-- 댓글 순번 업데이트 : 같은 부모의 자식들의 마지막 순번에 +1을 해준다. (1,2,3)-->
	<update id="replySeqUpdate" >
		UPDATE boardreply SET
		seq = (SELECT MAX(Seq) FROM boardreply WHERE parent=#{parent})+1,
		depth =  depth+1
		WHERE replynum = #{replynum}
	</update>

	<!-- 삭제할려는 댓글의 자식 확인 -->
	<select id="getReplyChildren" resultType="int" parameterType="int">
		SELECT count(*) FROM boardreply WHERE parent =  ${value}
	</select>
</mapper>