<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardReplyMapper">
	
	<!-- 댓글 등록 -->
	<insert id="addReply" parameterType="com.kim.ilhwaportfolio.dto.Board_reply">
		 <selectKey keyProperty="replynum" resultType="int">
			SELECT replynum_pk.CURRVAL AS boardreply FROM DUAL
		</selectKey>
	INSERT INTO boardreply VALUES(replynum_pk.NEXTVAL,#{reply_boardnum},#{parent},#{seq},#{depth},#{reply},#{reply_writer},#{reply_writer_nickname},#{reply_password},SYSDATE,#{del})
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="getReplyList" parameterType="int" resultType="com.kim.ilhwaportfolio.dto.Board_reply">
		SELECT * FROM boardreply WHERE reply_boardnum = ${value} ORDER BY seq ASC
	</select>
	
	<!-- 비회원 댓글 비밀번호 확인 -->
	<select id="replyPwCheck" resultType="com.kim.ilhwaportfolio.dto.Board_reply" >
		SELECT * FROM boardreply WHERE replynum = #{replynum} AND reply_password =#{reply_password}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate" >
		UPDATE boardreply SET reply = #{reply}, regdate = sysdate  WHERE replynum = #{replynum}
	</update>
	
	<!-- 삭제할려는 댓글의 자식 확인 -->
	<select id="getReplyChildren" resultType="int" parameterType="int">
		SELECT count(*) FROM boardreply WHERE parent =  ${value}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="replyDelete" >
    	DELETE FROM boardreply WHERE replynum = #{replynum} OR parent = #{replynum}
	</delete>
	
	<!-- 부모 댓글 삭제 시 del 컬럼 값 변경-->
	<update id="parentReplyDelete" parameterType="int">
		UPDATE boardreply SET del = 'y' WHERE replynum = #{replynum}
	</update>
	
	
	<select id="getChildrenSeq" resultType="com.kim.ilhwaportfolio.dto.Board_reply" parameterType="int">
		SELECT MAX(seq)+1 as seq, min(depth)+1 as depth FROM BOARDREPLY WHERE replynum= #{parent} OR PARENT = #{parent}
	</select>
	
	<select id="replyMaxSeq" resultType="int"> 
		SELECT NVL(MAX(seq),0)+1 FROM boardreply WHERE reply_boardnum = ${value}
	</select>
	
	<!-- 같은 순번이 있다면 +1 -->
	<update id="replySeqRearrange">
		UPDATE boardreply SET seq = seq + 1 
  		WHERE reply_boardnum = #{reply_boardnum} 
  		AND seq <![CDATA[>=]]>  #{seq} 
	</update>
	
	<!-- 댓글 삭제 후 순번 재정렬 
	<update id="deleteReplySeqUpdate" parameterType="int">
		UPDATE boardreply SET seq = seq - 1 
  		WHERE reply_boardnum = #{reply_boardnum} 
  		AND seq <![CDATA[>]]> (SELECT seq FROM boardreply WHERE replynum = ${value})  
	</update>
	
	<update id="deleteReplySeqUpdate" parameterType="int">
	    UPDATE 
        (SELECT
                b.seq, c.seq, c.boardnum 
        FROM
            BOARDREPLY b, 
            (SELECT
                *
            FROM
                BOARDREPLY
            WHERE
                replynum = ${value}
            ) c 
        WHERE
        b.replynum = c .replynum)        
   		SET  b.seq = b.seq - 1     
   		WHERE b.reply_boardnum = c.reply_boardnum 
   		AND b.seq <![CDATA[>]]> c.seq
	</update>-->
</mapper>