<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="member" type="com.kim.ilhwaportfolio.dto.Member">
		<result property="membernum" column="membernum" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="gender" column="gender" />
		<result property="birthdate" column="birthdate" />
		<result property="motto" column="motto" />
		<result property="regdate" column="regdate" />
	</resultMap>

<!-- join -->
	<insert id="join" parameterType="com.kim.ilhwaportfolio.dto.Member" >
		INSERT INTO MEMBER VALUES(MEMBERNUM_PK.NEXTVAL,#{email},#{password},#{name},#{gender},#{birthdate},#{motto},SYSDATE ) 
	</insert> 


<!-- login & mypage-->
	<select id="signIn" parameterType="com.kim.ilhwaportfolio.dto.Member" resultMap="member">
		SELECT * FROM MEMBER WHERE email = #{email} AND password = #{password}
	</select> 
	
<!-- logincookie -->
	<select id="getEmailCookie" parameterType="int" resultType="String">
		SELECT email from MEMBER WHERE membernum = #{Value}
	</select> 
	
<!-- emailExistCheck (회원가입)-->
	<select id="emailExistCheck" parameterType="com.kim.ilhwaportfolio.dto.Member" resultType="int">
		SELECT count(*) from MEMBER 
		<choose>
			<when test = "name == null">WHERE email =  #{email}</when>
			<otherwise>where email =  #{email} AND name = #{name}</otherwise>
		</choose>
	</select> 
	
<!-- findEmail -->
	<select id="findEmail" parameterType="com.kim.ilhwaportfolio.dto.Member" resultType="String">
		SELECT email from MEMBER WHERE name = #{name} and birthdate = #{birthdate}
	</select>

<!-- resetPw : 비밀번호 재 설정 -->
	<update id="resetPassword" parameterType="com.kim.ilhwaportfolio.dto.Member">
		UPDATE MEMBER SET password = #{password} WHERE email = #{email}
	</update>
	
<!-- memberInfo 출력-->
	<select id="memberInfo" parameterType="com.kim.ilhwaportfolio.dto.Member" resultMap ="member">
		SELECT * from MEMBER WHERE email = #{email}
	</select>
	
<!-- memberInfo 현재 비밀번호  확인/ 로그인 mapper와 합칠지 고민-->
	<select id="currentPasswordChk" parameterType="com.kim.ilhwaportfolio.dto.Member" resultType="int">
		SELECT count(*)  from MEMBER WHERE password = #{password}
	</select>
	
<!-- memberInfo: 회원 정보 재 설정 -->
	<update id="modifyMemberInfo" parameterType="com.kim.ilhwaportfolio.dto.Member">
		UPDATE MEMBER SET name = null, motto = #{motto}, gender = #{gender} WHERE email = #{email}
	</update>
	
<!-- signout : 회원 탈퇴-->
	<delete id="signout" parameterType="com.kim.ilhwaportfolio.dto.Member">
		DELETE FROM MEMBER WHERE email = #{email} AND password = #{password}
	</delete>
</mapper>