<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  Oracle을 사용할 때 Nullable Column(null 값이 들어갈 수 있는 컬럼)을 사용하기 위해 다음과 같이-->
	<settings> 
		<setting name="cacheEnabled" value="false" /> 
		<setting name="jdbcTypeForNull" value="NULL" /> 
	</settings>
 <!--mapper 관리 설정 

	설정파일이 필요한 다른 이유는 
	마이바티스 XML파일이 매퍼 클래스와 동일한 클래스패스에 있지 않은 경우이다. 이 설정을 사용하면 두가지 옵션이 있다.
	첫번째는 마이바티스 설정파일에 섹션을 사용해서 XML파일의 클래스패스를 지정하는 것이다.
	두번째는 팩토리 빈의 mapperLocations 프로퍼티를 사용하는 것이다  -->

</configuration>
