@charset "UTF-8";

* {
	list-style-type: none;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
	display: block;
	height: 40px;
	margin-top: auto;
	background-color: #f5f5f5;
}

.navbar-brand {
	font-family: 'Atma', cursive;
}
